accelerate>=1.7.0
hydra-core==1.3.2
transformers==4.46.3
huggingface-hub>=0.28.1
einops==0.8.0
# protobuf pin compatible with descript-audiotools (<3.20)
protobuf==3.19.6

numpy>=2.1.0
scipy>=1.14.0
soundfile==0.12.1
soxr

gradio==5.23.0
pydub==0.25.1
python-dotenv>=1.1.0
pyyaml>=6.0.2
munch==4.0.0
matplotlib

descript-audio-codec==1.0.0
jiwer==3.0.3
resemblyzer>=0.1.4
